body{
	background-color: #FDF3E7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.chatHeader{
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    background-color: #7E8F7C;
}
.panel{
    padding: 20px;
    margin-top: 45px;
    border-radius: 20px;
    background-color: #DFE2DB;
}
#login{
    margin-left: 20%;
}

