.col-sm-3{
	width: 20%;
	float: left;
}
.col-xs-12{
	width: 110%;
}
.col-sm-4{
	width: 25%;
	float: right;
}
.scrollMsg {
	height: 200px;
    overflow-y:scroll;
    overflow-x: none;

}
#time{
	padding-bottom: 5px;
}

/*
CSS for sending text to next line if it's to big
Borrowed from ahmadkwench
http://stackoverflow.com/questions/14135962/split-text-into-the-next-line-if-content-exceeds-the-fixed-width-for-html-table
*/
.media{
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}
