<div class="container" id="login">
	<div class="col-md col-md-8">
		<div class="panel-default">
			<div class="panel text-center">
				<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
					{{errorMessage}}
				</div>
				<form>
					<div class="form-group">
						<h4>Choose your username</h4>
						<input type="text" class="form-control" id="username" name="username" ng-keyup="$event.keyCode == 13 && login()" ng-model="username" placeholder = "Username" autofocus/>
					</div>
					<button type="submit" class="btn btn-primary btn-md" ng-click="login()"> Login <span class="glyphicon glyphicon-log-in"></span></button>
				</form>
			</div>
		</div>
	</div>
</div>