<span>
	<h3>Hello {{currentUser}}</h3>
</span>
<div class="well">
	<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div>
<span class="row">
	<div class="col-md-2 col-md-offset-3">Active rooms
		<ul>
			<li ng-repeat="room in rooms"><a ng-click="joinRoom(room)">{{room}}</a></li>
		</ul>
	</div>
	<form class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control" id="roomID" name="roomID" ng-model="roomID" placeholder="Create new room" autofocus/>
		</div>
			<button type="submit" class="btn btn-primary" ng-click="joinRoom()">Create</button>
	</form>
</span>
<div class="btn pull-right">
	<button type="submit" class="btn btn-info btn-md" ng-click="Disconnect()"> Leave chat <span class="glyphicon glyphicon-log-out"></span>
	</button>
</div>
