<div class="col-md-7">
    <div class="alert alert-danger" ng-cloak ng-show="errorMsg != ''">
    {{errorMsg}}
    </div>
    <div>
        <h1>{{ currentRoom }}</h1>
    </div>
</div>

<div class=" container-fluid col-md-12">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Room user</h1>
            </div>
            <div class="list-group" ng-class="{true:'list-group-item-info', false:''}[user == currentUser]">
                <li class="list-group" ng-repeat="(name, user) in roomUsers">{{ user }}
                    <button type="button" class="btn btn-warning btn-xs" ng-click="kickedUser(user)" ng-show="opObj[currentUser] !== undefined">Kick</button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="bannedUser(user)" ng-show="opObj[currentUser] !== undefined">Ban</button>
                </li>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class=row>
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Chat:</div>
                        <div class="panel-body">
                            <div class="media-list scrollMsg">
                                <div class="well-sm" ng-repeat="message in messageHistory" >
                                    <div class="media">
                                        <div class="media-body ">
                                            <strong>{{ message.nick }}</strong>{{ message.message }}
                                        </div>
                                        <div class="media-right">
                                            <span class="pull-right glyphicon glyphicon-time" id="time">{{ message.timestamp | date : 'd/M/yy - HH:mm:ss'}} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sendMsg" ng-model="newMessage" ng-keyup="$event.keyCode == 13 && sendMsg()" placeholder="Write a message here...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" ng-click="sendMsg()">Send</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="goBack()">Go to room list</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"> Private messages  <span class="glyphicon glyphicon-envelope"</span></h1>
            </div>
            <div class="media-body media">
                <ul class="media-list scrollMsg">
                    <li class="media" ng-repeat="privateMsg in privateMsgHistory" on-finish-render="ngRepeatFinished">
                        <span class="pull-left glyphicon glyphicon-user"></span>
                        <div class="media-body">
                            <h4 class="media-heading">{{privateMsg.nick}}</h4>
                            <p>{{privateMsg.message}}</p>
                            <span class="date sub-text">{{comment.timestamp}}</span>
                        </div>
                    </li>
                </ul>
                <label for="comment" class"control-label">Send private message to:</label>
                <select ng-model="privateMsgTo">
                    <option ng-repeat="(name, user) in roomUsers" value="{{user}}">{{user}}</option>
                </select>
                <input type="text" class="form-control" id="privateMsg" ng-model="privateMsg" ng-keyup="$event.keyCode == 13 && sendPMsg()" placeholder="Write a Private message here..." />
                <div class="alert alert-danger" ng-cloak ng-show="privateError != ''">{{privateError}}</div>
                <button type="button" class="btn btn-primary" id="sendPMsg" ng-click="sendPMsg()">Send message</button>
            </div>
        </div>
    </div>
</div>


